
#
# PC-x86 IOEMU configuration file (QEMU ROM version)
#

# export to QEMU network scripts
ENV QEMU_IPADDRESS "192.168.3.1"
# telnet port numbers for serial ports
SET SPPORT0 "4446"
SET SPPORT1 "4447"

#SET ENABLE_VCAN "Y"
#SET ENABLE_WIRESHARK "Y"

################################################################################
SECTION START
################################################################################

# export this file to libioemu
ENV IOEMUCFG_FILENAME "$__THISFILE__"

# QEMU executable
IF "$OSTYPE" = "cmd" OR "$OSTYPE" = "msys" THEN
  SET QEMU_EXECUTABLE "C:\\Program Files\\QEMU\\qemu-system-i386.exe"
ELSE
  SET QEMU_EXECUTABLE "/opt/sweetada/bin/qemu-system-i386"
  # export libioemu directory, so QEMU can find it
  ENV LIBIOEMU_DIRECTORY "/opt/sweetada/bin"
ENDIF

# QEMU machine parameters and control
#ARGS "-M","pc","-cpu","pentium","-m","256","-vga","std"
ARGS "-M","pc","-cpu","pentium3","-m","256","-vga","std"
ARGS "-L","$SWEETADA_PATH","-bios","$KERNEL_ROMFILE"
ARGS "-monitor","telnet:localhost:4445,server,nowait"
#ARGS "-d","in_asm","-D","qemu.log"
ARGS "-rtc","base=utc,clock=host"
ARGS "-chardev","socket,id=SERIALPORT0,port=$SPPORT0,host=localhost,ipv4=on,server=on,telnet=on,wait=off"
ARGS "-serial","chardev:SERIALPORT0"
ARGS "-chardev","socket,id=SERIALPORT1,port=$SPPORT1,host=localhost,ipv4=on,server=on,telnet=on,wait=off"
ARGS "-serial","chardev:SERIALPORT1"
IF   "$OSTYPE" = "msys" THEN
  ARGS "-device","ne2k_pci,netdev=qemu,mac=02:00:00:11:22:33"
  ARGS "-netdev","id=qemu,type=tap,ifname=TAP"
ELIF "$OSTYPE" = "linux" THEN
  ARGS "-device","ne2k_pci,netdev=qemu,mac=02:00:00:11:22:33"
  ARGS "-netdev","id=qemu,type=tap,script=$SWEETADA_PATH/$LIBUTILS_DIRECTORY/qemu-ifup.sh,downscript=$SWEETADA_PATH/$LIBUTILS_DIRECTORY/qemu-ifdown.sh"
  ARGS "-device","ide-hd,drive=disk,bus=ide.0"
  ARGS "-drive","id=disk,if=none,format=raw,file=disk.dsk"
  ARGS "-usb","-device","usb-hub,bus=usb-bus.0,port=1"
  IF DEFINED(ENABLE_VCAN) THEN
    # CAN bus Kvaser PCI CAN-S (single SJA1000 channel)
    # PCI IDs: 10E8:8406
    ARGS "-object","can-bus,id=canbus0"
    ARGS "-device","kvaser_pci,canbus=canbus0"
    ARGS "-object","can-host-socketcan,id=canhost0,if=vcan0,canbus=canbus0"
    # CAN bus PCM-3680I PCI (dual SJA1000 channel)
    #ARGS "-object","can-bus,id=canbus0"
    #ARGS "-device","pcm3680_pci,canbus0=canbus0,canbus1=canbus0"
    #ARGS "-object","can-host-socketcan,id=canhost0,if=vcan0,canbus=canbus0"
  ENDIF
ENDIF

IF DEFINED(DEBUG_QEMU) THEN
  # debug session, run QEMU in background
  ARGS "-S","-gdb","tcp:localhost:1234,ipv4"
  EXEA "$QEMU_EXECUTABLE"
  SLEEP 1000
  # follow qemu.log
  #IF "$OSTYPE" = "linux" THEN
  #  ARGS "-T","QEMU log","-geometry","132x24","-bg","blue","-fg","white","-sl","1024"
  #  ARGS "-e","/bin/tail","-f","qemu.log","--pid=$__LASTPID__"
  #  EXEA "/usr/bin/xterm"
  #ENDIF
  # run the debugger
  CHDIR "$SWEETADA_PATH"
  IF "$OSTYPE" = "cmd" OR "$OSTYPE" = "msys" THEN
    # set HOME directory to avoid a GDB warning
    ENV HOME "C:\\Users\\gabriele"
  ENDIF
  IF "$OSTYPE" = "msys" THEN
    # make Python library visible by exporting toolchain prefix
    ENV PYTHONHOME "$TOOLCHAIN_PREFIX"
  ENDIF
  ARGS "-q"
  ARGS "-iex","set basenames-may-differ"
  #ARGS "-iex","set architecture i386"
  #ARGS "-iex","set disassembly-flavor att"
  ARGS "-iex","set language ada"
  ARGS "$KERNEL_OUTFILE"
  ARGS "-ex","target remote tcp:localhost:1234"
  # avoid i8086 code handling
  ARGS "-ex","break bsp_setup","-ex","continue"
  EXEC "$TOOLCHAIN_PREFIX/bin/$GDB"
  #EXEC "$TOOLCHAIN_PREFIX/bin/$INSIGHT"
ELSE
  # normal execution
  EXEC "$QEMU_EXECUTABLE"
ENDIF

ENDSECT

################################################################################
SECTION IOEMU
################################################################################
SET PANELX      10
SET PANELY      10
SET PANELWIDTH  600
SET PANELHEIGHT 400
IF DEFINED(ENABLE_WIRESHARK) AND DEFINED(WIRESHARK) THEN
  ARGS "-i"
  #ARGS "tap0"
  ARGS "vcan0"
  ARGS "-k"
  EXEA "$WIRESHARK"
  SLEEP 3000
ENDIF
ENDSECT

################################################################################
#SECTION PARA_REG_DATA
# PPI @0x378 8-bit, input/output
################################################################################
#WIDGET LEDBAR8 @32,50 COLOR_RED NAME "PPI DATA"
#ENDSECT

################################################################################
#SECTION PARA_REG_STS
# PPI @0x379 8-bit, input
################################################################################
#WIDGET DISPLAY8 @32,100 NAME "PPI STATUS"
#ENDSECT

################################################################################
SECTION PARA_REG_CTR
# PPI @0x37a 8-bit, input/output
################################################################################
WIDGET LED LED_PULSE @32,50 COLOR_YELLOW NAME "PPI CONTROL"
ENDSECT

################################################################################
SECTION IO0
# IOEMU GPIO IO0
################################################################################
WIDGET LEDBAR8 @32,100 COLOR_YELLOW NAME "IO0"
ENDSECT

################################################################################
SECTION IO1
# IOEMU GPIO IO1
################################################################################
WIDGET LEDBAR8 @32,150 COLOR_YELLOW NAME "IO1"
ENDSECT

################################################################################
SECTION IO2
# IOEMU GPIO IO2
################################################################################
WIDGET LEDBAR8 @32,200 COLOR_YELLOW NAME "IO2"
ENDSECT

################################################################################
SECTION IO3
# IOEMU GPIO IO3
################################################################################
WIDGET LEDBAR8 @32,250 COLOR_YELLOW NAME "IO3"
ENDSECT

################################################################################
SECTION SERIALPORT0
################################################################################
IF "$OSTYPE" = "cmd" OR "$OSTYPE" = "msys" THEN
  ARGS "telnet://localhost:$SPPORT0/"
  EXEA "C:/Program Files/PuTTY/putty-w64.exe"
ELIF "$OSTYPE" = "darwin" THEN
  ARGS "-e","tell application \"Terminal\""
  ARGS "-e","do script \"telnet 127.0.0.1 $SPPORT0\""
  ARGS "-e","end tell"
  EXEA "/usr/bin/osascript"
ELSE
  ARGS "-T","QEMU-1","-geometry","80x24","-bg","blue","-fg","white","-sl","1024"
  ARGS "-e","/bin/telnet","localhost","$SPPORT0"
  EXEA "/usr/bin/xterm"
ENDIF
SLEEP 1000
ENDSECT

################################################################################
SECTION SERIALPORT1
################################################################################
IF NOT DEFINED(DEBUG_GDBSTUB) THEN
  IF "$OSTYPE" = "cmd" OR "$OSTYPE" = "msys" THEN
    ARGS "telnet://localhost:$SPPORT1/"
    EXEA "C:/Program Files/PuTTY/putty-w64.exe"
  ELIF "$OSTYPE" = "darwin" THEN
    ARGS "-e","tell application \"Terminal\""
    ARGS "-e","do script \"telnet 127.0.0.1 $SPPORT1\""
    ARGS "-e","end tell"
    EXEA "/usr/bin/osascript"
  ELSE
    ARGS "-T","QEMU-2","-geometry","80x24","-bg","blue","-fg","white","-sl","1024"
    ARGS "-e","/bin/telnet","localhost","$SPPORT1"
    EXEA "/usr/bin/xterm"
  ENDIF
  SLEEP 1000
ELSE
  # GDB stub
  ARGS "-q"
  ARGS "-iex","set basenames-may-differ"
  ARGS "$SWEETADA_PATH/$KERNEL_OUTFILE"
  ARGS "-ex","target remote tcp:localhost:$SPPORT1"
  ARGS "-ex","set debug remote 1"
  # avoid i8086 code handling
  #ARGS "-ex","break bsp_setup","-ex","continue"
  #EXEA "/opt/sweetada/bin/i686-sweetada-elf-gdb"
  EXEA "$TOOLCHAIN_PREFIX/bin/i686-sweetada-elf-insight"
ENDIF
ENDSECT

################################################################################
SECTION IO4
# IOEMU GPIO IO4
################################################################################
WIDGET SWITCH8 @300,50 NAME "CONTROL"
ENDSECT

################################################################################
SECTION IO5
# IOEMU GPIO IO5
################################################################################
WIDGET BUTTON @300,100 NAME "SET"
ENDSECT

################################################################################
SECTION IO6
# IOEMU GPIO IO6
################################################################################
WIDGET SWITCH8 @300,150 NAME "SWITCH1"
ENDSECT

################################################################################
SECTION IO7
# IOEMU GPIO IO7
################################################################################
WIDGET LED @300,200 COLOR_GREEN NAME "ACTIVE"
ENDSECT
