
#
# Malta IOEMU configuration file (QEMU emulator)
#

################################################################################
SECTION IOEMU
################################################################################
SET PANELWIDTH  320
SET PANELHEIGHT 200
ENDSECT

################################################################################
SECTION IO0
################################################################################
WIDGET PULSEMETER @64,64 COLOR_YELLOW SCALE 1 NAME "TIMER"
ENDSECT

################################################################################
SECTION IO1
################################################################################
WIDGET LEDBAR8 @64,128 COLOR_RED NAME "IO1"
ENDSECT
