
#
# Amiga IOEMU configuration file (FS-UAE emulator)
#

################################################################################
SECTION IOEMU
################################################################################
SET PANELWIDTH  640
SET PANELHEIGHT 480
ENDSECT

################################################################################
SECTION CIA0
# CIA @0x00BFD080 8-bit
################################################################################
WIDGET LED LED_PULSE @64,64 COLOR_YELLOW NAME "TIMER (CIA0)"
ENDSECT

################################################################################
SECTION CIA1
# CIA @0x00BFD084 8-bit
################################################################################
WIDGET LEDBAR8 @64,128 COLOR_RED NAME "CIA1"
ENDSECT

################################################################################
SECTION CIA2
# CIA @0x00BFD088 8-bit
################################################################################
WIDGET DISPLAY8 @64,192 NAME "CIA2"
ENDSECT

################################################################################
SECTION CIA3
# CIA @0x00BFD08C 8-bit
################################################################################
WIDGET LED LED_PULSE LED_SMALL COLOR_YELLOW @64,256 NAME "RX1 (CIA3)"
ENDSECT

################################################################################
SECTION CIA4
# CIA @0x00BFD090 8-bit
################################################################################
WIDGET LED LED_PULSE LED_SMALL COLOR_YELLOW @64,288 NAME "RX2 (CIA4)"
ENDSECT

################################################################################
SECTION CIA5
# CIA @0x00BFD094 8-bit
################################################################################
WIDGET LEDBAR8 @256,128 COLOR_RED NAME "CIA5"
ENDSECT

################################################################################
SECTION CIA6
# CIA @0x00BFD098 8-bit
################################################################################
WIDGET LEDBAR8 @256,192 COLOR_RED NAME "CIA6"
ENDSECT

################################################################################
SECTION CIA7
# CIA @0x00BFD09C 8-bit
################################################################################
WIDGET LEDBAR8 @256,256 COLOR_RED NAME "CIA7"
ENDSECT

################################################################################
SECTION SERIALPORT0
# IOEMU SERIALPORT0
################################################################################
ARGS "-T","FS-UAE-1","-geometry","80x24","-bg","blue","-fg","white","-sl","1024"
ARGS "-e","/usr/bin/minicom -D $__SERIALPORTDEVICE__ -o -w"
EXEA "/usr/bin/xterm"
SLEEP 1000
ENDSECT

################################################################################
SECTION SERIALPORT1
# IOEMU SERIALPORT1
################################################################################
ARGS "-T","FS-UAE-2","-geometry","80x24","-bg","blue","-fg","white","-sl","1024"
ARGS "-e","/usr/bin/minicom -D $__SERIALPORTDEVICE__ -o -w"
EXEA "/usr/bin/xterm"
SLEEP 1000
ENDSECT
