
#
# Integrator/CP IOEMU configuration file (QEMU emulator)
#

################################################################################
SECTION IOEMU
################################################################################
SET PANELX      10
SET PANELY      10
SET PANELWIDTH  600
SET PANELHEIGHT 400
ENDSECT

################################################################################
SECTION IO0
################################################################################
WIDGET PULSEMETER @64,64 COLOR_YELLOW SCALE 10 NAME "TIMER"
ENDSECT

################################################################################
SECTION IO1
################################################################################
WIDGET LEDBAR8 @64,128 COLOR_RED NAME "IO1"
ENDSECT
